{% extends 'adminbase.html' %}

{%  block title %}
Admin
{% endblock %}


{%  block content %}

<!-- Your rows inside the table HERE: -->
<!-- 
<table align="center">
    <tr>
        <td>
            <div>
                menu
            </div>

        </td>
        <td>
            <div>
                orders
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div>
                reservations
            </div>

        </td>
        <td>
            <div>
                team
            </div>

        </td>
    </tr>
</table>
 -->
<style>
    table {
        float: center;
    }

    div.button {
        color: black;
        background-color: #9cf;
        border-top: 1px solid #c0ffff;
        border-right: 1px solid #00f;
        border-bottom: 1px solid #00f;
        border-left: 1px solid #c0ffff;
    }
    
</style>
{%  endblock %}