<!DOCTYPE html>
<html>

    <head>
        <title>
            database
        </title>
    </head>

    <body>
        <table>
            <tr>
                <td>
                    MENU                
                </td>

                <td>
                    {{dishnamesfordisplay}}
                </td>
            </tr>
            <tr>
                <td>
                    users:
                </td>
                <td>
                    {{ usersfordisplay }}
                </td>

            </tr>
        </table>




    </body>




</html>