{% extends 'adminbase.html' %}

{%  block title %}
remove dish
{% endblock %}

{%  block content %}


<table class="table table-hover table-dark">
    <thead>
        <tr>
            <!-- Your Columns HERE -->
            <th scope="col"><u>DISH ID</u> </th>
            <th scope="col"><u>DISH NAME</u></th>
            <th scope="col"><u>DISH PRICE</u></th>
            <th scope="col"><u>OPTIONS</u></th>
        </tr>
    </thead>
    <tbody>
        <!-- Your rows inside the table HERE: -->
        {% for item in toshowdish %}
        <tr>
            <td>{{ item.dish_id }}</td>
            <td>{{ item.dish_name }}</td>
            <td>{{ item.dish_price }}</td>
            <td>
                <a href="/update/{{ item.dish_id }}">
                    <button class="btn btn-outline btn-info">update</button>
                </a>
                <a href="/delete/{{ item.dish_id }}">
                    <button class="btn btn-outline btn-danger">remove</button>
                </a>
            </td>
        </tr>
        {% endfor %}

    </tbody>
</table>

<!-- <style>
    body {
        background-color: #212121;
        color: rgb(227, 234, 240)
    }
</style> -->

<style>
    thead {
        color: rgb(255, 255, 255);
    }

    table,
    th,
    td {
        border: 1px solid rgb(255, 255, 255);
        text-align: center;

    }

    td {
        text-align: center;
    }
</style>

{% endblock %}